<!DOCTYPE html>
<html lang="en">
<head>
    <title>One Tap Man</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>

  <nav class="nav">
    <ul>
      <li><a href="#play">Play</a></li>
      <li><a href="#about">About</a></li>
      <li class="logo">
        <a href="#play">
          <svg width="100px" height="100px" viewBox="0 0 100 100" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Desktop-HD" transform="translate(-645.000000, -708.000000)">
                    <g id="Group" transform="translate(645.000000, 708.000000)">
                        <circle id="Oval" fill="#EF4628" cx="50" cy="50" r="50"></circle>
                        <text id="OTM" font-family="Montserrat-Bold, Montserrat" font-size="38" font-weight="bold" fill="#FFFEF2">
                            <tspan x="4.989" y="63">OTM</tspan>
                        </text>
                    </g>
                </g>
            </g>
          </svg>
        </a>
      </li>
      <li><a href="#manual">Manual</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>


  <!-- nothing here for now. Leaving for for other possible content down the line. -->
  <section class="section section--home" id="home">
    <h1 class="page-title">One Tap Man</h1>
  </section>

  <section class="section section--game" id="game">
    <h2 class="section--game__title">One Tap Man</h2>

    <div class="section--options">
      <h3 class="section--options__header">Rent Money Earned</h3>
      <p class="section--options__score" id="score">$<span id="rent-money">0</span></p>
      <input class="options__slider" id="slider" type="range" min=10 max=100 value=10>
      <a class="btn btn--start" id="start" href="#">Start</a>
    </div>

    <canvas id="canvas"></canvas>
    <script src="../public/index.js"></script>
  </section>



  <section class="section section--about" id="about">
    <h2 class="section__title section--about__title">One Tap who?</h2>
    <p class="section__subtitle section--about__subtitle">One Tap Man, a hero for fun</p>
    <img class="section--about__image" src="../images/oneTapMan-about.png" alt="">
    <h3 class="section--about__heading">Tap to save the city</h3>
    <p class="section--about__body">Through rigorous training everyday of: 100 push-ups, 100 sit-ups, 100 squats and a 10km run, our hero has developed the power to destroy anything with one tap.</p>
    <p class="section--about__body">Giant meteors are raining down on The Bay Area! Keep the area safe by destroying everything in the sky. The grateful citizens of The Bay will give you money for every one you destroy. Smaller meteors are harder to hit so they're worth more money than larger ones.</p>
  </section>

  <section class="section section--manual" id="manual">
    <h2 class="section__title">How to play</h2>
    <p class="section__subtitle">Three easy steps to being a hero</p>

    <div class="manual">

      <figure class="manual__step">
        <img class="manual__img" src="../images/oneTapMan-about.png" alt="" >
        <figcaption class="manual__caption">
          <h3 class="manual__title">1 - Tap and destroy</h3>
          <p class="manual__desc">Tap a meteor to destroy it.</p>
        </figcaption>
      </figure>

      <figure class="manual__step">
        <img class="manual__img" src="../images/oneTapMan-about.png" alt="" >
        <figcaption class="manual__caption">
          <h3 class="manual__title">2 - Take a break</h3>
          <p class="manual__desc">Tap to pause. Tap to resume.</p>
        </figcaption>
      </figure>

      <figure class="manual__step">
        <img class="manual__img" src="../images/oneTapMan-about.png" alt="" >
        <figcaption class="manual__caption">
          <h3 class="manual__title">3- Adjust the speed</h3>
          <p class="manual__desc">Slide to change the game speed.</p>
        </figcaption>
      </figure>

    </div>
  </section>

  <footer class="footer">
    <p class="footer__credit">Created by Jumar Balacy</p>
    <p class="footer__contact">jumarbalacy@outlook.com</p>
  </footer>
</body>
</html>