@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:200,400');

/*
Mobile Perfect Fourth 1.333
Desktop Perfect Fifth 1.5 type scale h1-h3, p, small
*/

/* General typography */
html { font-size: $base * 1px; }

body {
    font-family: $ff-sans-body;
    font-weight: $fw-extra-light;
    font-size: 1em;
    line-height: 1.5;
    color: $clr-dark-grey;

    @include mq(small) {
        @include set-font-styles(18, 1, 0);
    }
}

h1,
h2,
h3,
p,
figure,
figcaption {
    margin: 0;
    padding: 0;
}

/*
not assigning sizes here to give myself more flexibility
in case I want to change sizes later
*/
h1,
h2,
h3 {
    font-family: $ff-sans-hdrs;
    color: rgba( $clr-black, .90 );
}

p {
    margin-bottom: $baseline * 1px;
}


/*
mobile sizes
title 2.369em (37.90px)
section title 1.777em (28.43px)
sub title h3 1.333em (21.33px)
body 1em (16.00px)
figure figcaption 0.75em (12.00px)
*/

/*
title 3.375em (60.75px)
section title 2.25em (40.50px)
sub title h3 1.5em (27.00px)
body 1em (18.00px)
0.667em (12.00px)
set the base to 18
*/

/* Targeted typography */
.page-title {
    @include set-font-styles(37.90, 2, 0);
    background: rgba($clr-white, .90);
    display: none;
}

.section {
    &__title {
        @include set-font-styles(28.43, 1.5, ( $baseline / 2 ) );
        @include underline();
        color: $clr-black;
        // color: $clr-white;
        // background: $gradient;

        @include mq(small) {
            @include set-font-styles(40.5, 2.5, ( $baseline / 2 ) );
        }
    }

    &__subtitle {
        @include set-font-styles(21.33, 1);
        font-style: italic;
        @include mq(small) {
            @include set-font-styles(27, 1);
        }

    }
}

.section--game {
    text-align: center;
    letter-spacing: 10px;
    &__title {
        background: $clr-dark-grey;
        color: $clr-white;
        @include mq(medium) {
            @include set-font-styles(60.75, 4);
        }
    }
}

h3 {
    @include set-font-styles(21.33, 1.5, 0);
}

.manual__title,
.manual__caption {
    color: $clr-white;
}

.footer__credit,
.footer__contact {
    color: $clr-white;
    margin: 0;
}