@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Montserrat:200,400');

body {
    font-family: $ff-sans-body;
    font-weight: $fw-extra-light;
    font-size: 1.125rem;
    line-height: 1.5;
    color: $dark-grey;
}
