.section--about {
    &__image {
        box-shadow: $box-shadow;
    }

    @include mq(medium) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: $spacer * 2;
        max-width: 1200px;
        margin: 0 auto;

        &__title,
        &__subtitle,
        &__heading,
        &__body {
            grid-column: 2 / 3;
        }

        &__heading,
        &__body {
            @include limit_w;
        }

        &__image {
            grid-row: 1 / 6;
        }
    }
}