.section--home {
    margin-top: 3.5rem;
    background: url(../../images/opmhero.jpg);
    background-size: cover;
    background-position: right;
    padding: ($spacer * 9) $spacer;
    min-height: 50vh;
    // text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}