.nav {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    background: $clr-white;

    ul {
        margin: 0 auto;
        padding: $spacer 0;
        list-style: none;
        font-family: $ff-sans-hdrs;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        max-width: 1200px;

    }

    .logo {
        display: none;
        @include mq(small) {
            display: block;

        }
    }

    a {
        text-decoration: none;
        font-weight: $fw-bold;
        color: $clr-black;
    }
}