.section--options {
    margin: $spacer auto $spacer auto;
    padding: 0 $spacer;


    @include grid() {
        grid-gap: ($spacer / 2);
    }
    &__header {
        grid-column: 1 / 2;
        align-self: end;

    }

    &__score {
        grid-row:  2 / 3;
    }

    .options__label {
        grid-row: 3 / 4;
        grid-column: 1 / 2;
        align-self: end;
    }

    .btn {
        padding: 1em 1.5em;
        margin-bottom: $spacer;
        text-decoration: none;
        font-family: $ff-sans-hdrs;
        text-align: center;
        transition: transform 100ms ease-in, box-shadow 100ms ease-in;

        &:hover {
            transform: scale(1.01);
            box-shadow: $box-shadow;
        }

    }
    .btn--music {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        background: $clr-dark-grey;
        color: $clr-white;
        justify-self: end;
        &:hover {
            background: lighten($clr-dark-grey, 5%);
        }
    }

    .btn--start {
        grid-column: 3 / 4;
        color: $clr-white;
        justify-self: end;
        background: $clr-blue;
        &:hover {
            background: lighten($clr-blue, 5%);
        }
    }

    .options__slider {
        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        height: 30px;
        width: 100%;
        background: #d3d3d3;
        // border: 1px solid black;
        opacity: .7;
        transition: opacity 100ms;
        grid-column: 2 / 4;
        grid-row: 3 / 4;

        &:hover {
            opacity: 1;
        }

    }

    .options__slider:hover {
        opacity: 1;
    }

    .options__slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 58px;
        height: 63px;
        border: 0;
        background: url(../images/slider.png);
        background-position: 58px 0;
        cursor: pointer;
    }

    .options__slider::-moz-range-thumb {
        width: 58px;
        height: 63px;
        border: 0;
        background: url(../images/slider.png);
        background-position: 58px 0;
        cursor: pointer;
    }

    @include mq(large) {
        @include grid();
        &__header {
            grid-column: 1 / 2;
        }

        &__score {
            grid-row:  2 / 3;
        }

        .options__label {
            grid-row: 2 / 3;
            grid-column: 2 / 3;
        }

        .btn--music {
            grid-column: 3 / 4;
            grid-row: 2 / 3;
        }

        .btn--start {
            grid-column: 3 / 4;
            grid-row: 1 / 2;

        }
    }
}
