//raw colors
$clr-red: #EF4628;
$clr-yellow: #FFCE58;
$clr-blue: #2D5863;
$clr-grey: #F2F2F2;
$clr-dark-grey: #5D5D5D;
$clr-white: #ffffff;
$clr-black: #2E2E2E;

//descriptive colors
$clr-primary: $clr-red;
$clr-secondary: $clr-yellow;
$clr-accent: $clr-blue;
$clr-background: $clr-grey;

$gradient: linear-gradient( 90deg, $clr-dark-grey, $clr-dark-grey, $clr-white );
$gradient-center: linear-gradient( 90deg, $clr-white, $clr-dark-grey, $clr-dark-grey, $clr-dark-grey, $clr-dark-grey, $clr-white );