//raw colors
$red: #EF4628;
$yellow: #FFCE58;
$blue: #2D5863;
$grey: #F2F2F2;
$dark-grey: #5D5D5D;
$white: #FFFEF2;
$black: #2E2E2E;

//descriptive colors
$primary: $red;
$secondary: $yellow;
$accent: $blue;
$background: $grey;
