//18px default for this website
//takes unitless numbers
@mixin set-font-styles($target, $line-height, $margin-bottom: $baseline, $context: $base) {
    //context default is 18 for desktop. 16 for mobile
    font-size: ( $target / $context ) * 1em;
    line-height: ( $line-height * $baseline ) / $target;
    margin-bottom: $margin-bottom * 1px;
}

@mixin underline( $bg: currentColor, $margin: ($spacer / 24) 0, $h: 1px , $w: 100% ) {
    &::after {
        content: '';
        display: block;
        margin: $margin;
        background: $bg;
        height: $h;
        width: $w;
        @content;
    }
}

//takes size from $breakpoints map and creates a media query
@mixin mq( $size ) {
    @if map-has-key($map: $breakpoints, $key: $size) or ( type-of($bp: $size) == number  and $size > 0 ){
        $bp: map-get($map: $breakpoints, $key: $size);
        @media only screen and (min-width: $bp) {
            @content;
        }
    } @else {
        @error 'Entered: `#{#size}`, mq takes a size from $breakpoints or a positive number';
    }
}

@mixin limit-w() {
    max-width: 576px;
}

//I only use this once, but if I added another section that needed columns I could reuse it later
@mixin grid( $columns: 3 ) {
    display: grid;
    grid-template-columns: repeat( $columns, 1fr );
    grid-gap: $spacer * 2;
    max-width: 1200px;
}